body {
  font-family: Poppins;
  color: rgba(249, 185, 86, 0.979);
  background-color: rgba(32, 31, 31, 0.96);
  justify-content: center;
  flex-direction: column;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  height: 600px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  width: 200px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  scroll-margin-top: 55px;
}

nav {
  flex: 100%;
  background-color: rgba(38, 36, 36, 0.979);
  /*overflow: hidden;*/
}

ul {
  color: #ffca18;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000000;
}
p {

  color: rgba(255, 255, 255, 0.856);
}
#header-and-nav {
  display: flex;
}

#welcome {
  /* border: dotted;
     border-width: 3px;
     border-color: rgb(140, 127, 255); */
  padding-left: 45%;
  font-size: xx-large;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px;
}

.nav-items {
  float: left;
  flex: auto;
  text-align: center;
  padding: 0px 45px 10px;
  text-shadow: 2px 1px 3px rgb(100, 99, 104);
}

nav a {
  float: left;
  color: #f9b956;
  text-align: center;
  padding: 1px 28px 1px;
  text-decoration: none;
  font-size: 19px;
  list-style-type: none;
}

nav a:hover {
  background-color: rgba(249, 185, 86, 0.979);
  color: rgba(32, 31, 31, 0.96);
  border-radius: 5%;
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
  border-end-start-radius: 50px;
}

a:link {
  color: rgba(249, 185, 86, 0.979);
  background-color: transparent;
  text-decoration: none;
  text-shadow: 2px 1px 3px rgb(100, 99, 104);
}

a:visited {
  color: rgba(249, 185, 86, 0.979);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgba(249, 185, 86, 0.979);
  text-shadow: 2px 4px 3px rgb(100, 99, 104);
}

.titels {
  color: rgba(249, 185, 86, 0.979);
  text-shadow: 2px 4px 3px rgb(100, 99, 104);
}

/*nav:hover {
    background-color: rgba(249, 185, 86, 0.979);
    text-decoration: underline;
  }*/

a:active {
  color: rgba(240, 245, 239, 0.342);
  text-decoration: underline;
  background-color: transparent;
}

.button {
  border: none;
  color: rgb(248, 248, 248);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(249, 185, 86, 0.979);
  color: rgb(10, 10, 10);
  border: 3px groove rgba(249, 185, 86, 0.979);
  position: relative;
  right: -2px;
}

.button1:hover {
  background-color: rgba(44, 47, 49, 0.50);
  color: rgba(249, 185, 86, 0.979);
}

#projects-article {
  display: flex;
}

#list-of-projects {
  /*  border: none;
    border-width: 6px;
    border-color: aquamarine; */
  display: grid;
  flex: auto;
  grid-template-rows: 1fr 0fr 1fr;
  grid-template-columns: 2fr 0.5fr 2fr;
}

#project-a {
  /*border: dotted;
    border-width: 3px;
    border-color: rgb(140, 127, 255); */
  /*margin-top: 6%;*/
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-start: 1;
}


#project-b {
  /* border:dotted;
    border-width: 1px;
    border-color: rgb(255, 210, 127); */
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-start: 3;
}

#project-c {
  /* border: dotted;
    border-width: 3px;
    border-color: rgb(140, 127, 255); */
  text-align: right;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-start: 1;
  margin-top: 100px;
}

#project-d {
  /*  border:dotted;
    border-width: 3px;
    border-color: rgb(224, 138, 26); 
    text-align: left;;*/
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-start: 3;
  margin-top: 100px;
}

#project-dc {
  /* border:dotted;
    border-width: 3px;
    border-color: rgb(224, 138, 26); 
    text-align: left;*/
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-start: 2;
  margin-top: 100px;
}

#project-skillsleft {
  /* border:dotted;
     border-width: 3px;
     border-color: rgb(224, 138, 26);*/
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-start: 1;
  margin-top: 60px;
}

#project-skillsright {
  /* border:dotted;
     border-width: 3px;
     border-color: rgb(224, 138, 26);*/
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-start: 3;
  margin-top: 60px;
}

#project-e {
  /* border: dotted;
    border-width: 3px;
    border-color: rgb(140, 127, 255); */
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-start: 1;
  margin-top: -150px;
}

div.logo {
  margin-left: 250px;
  align-items: center;
}

#project-f {
  /* border:dotted;
    border-width: 3px;
    border-color: rgb(224, 138, 26);*/
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-start: 3;
  margin-top: -160px;
}


#blok-article {
  display: flex;
}

#top-of-blok {
  /* border: dotted;
    border-width: 6px;
    border-color: rgb(69, 122, 105); */
  background-color: rgba(38, 36, 36, 0.979);
  display: grid;
  flex: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

#blok-a {
  /*  border:ridge;
    border-width: 3px;
    border-color: rgb(41, 126, 83); */
  /*margin-top: 6%;*/
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-start: 1;
}

#blok-b {
  /* border:dotted;
   border-width: 3px;
   border-color: rgb(128, 126, 124); 
  /*margin-top: 6%;*/
  height: 100%;
  width: 100%;
  background-image: url("../mauropull.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: left;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-start: 2;
}

